{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.topic }}</a>
                    <small class="text-muted">{{ post.date }}</small>
                    <small class="text-muted">{{ post.author }}</small>
                </div>
                <h5></b><a class="article-title" href="#">{{ post.description }}</a></h5>
                <p class="article-content">{{ post.writeup }}</p>
            </div>
          </article>
    {% endfor %}
{% endblock content %}